# Only important for git repo
examples
USAGE.md

#Developement
node_modules/
benchmark/
test/
.vscode/
src/**/*.ts
*.tgz
*.map
.prettierrc
tsconfig.tsbuildinfo
.env


package-lock.json
tsconfig.json

#Git
.gitignore
.gitattributes
.github